*{
    padding: 0;
    margin: 0;
}
html {
    font-size:12px;
}
body{
    padding-top: 100px;
    font-size: 25px;
}
#nav_wrapper{
    color: #fff;
    background-color: skyblue;
    overflow: hidden;
    box-shadow: 0 0 15px #888888;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index:1000;
    .minNav{
        display: none;
        border: 1px solid #ffffff;
    }
    .minNav:hover{
        background-color: deepskyblue;
    }
    .kobe{
        height: 100%;
        display: none;
    }
}
.anotherNav{
    display: none;
    div:hover{
        background-color: deepskyblue;
        cursor: pointer;
    }
}
.nav{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    background-color: skyblue;
    .kobe_profile{
        margin-left: 50px;
        display: flex;
        line-height: 100px;
        width: 50%;
        height: 100%;
        float: left;
    }
    .button{
        display: flex;
        width: 50%;
        height: 100%;
        div{
            text-align: center;
            width:80%;
            cursor: pointer;
            float: right;
            line-height: 100px;
            margin-left: 20px;
        }
    }
}
.button div:hover{
    border-radius: 20px;
    box-sizing: border-box;
    background-color: deepskyblue;
    border: 1px solid #eee;
}
.active{
    border-radius: 20px;
    box-sizing: border-box;
    background-color: deepskyblue;
    border: 1px solid #eee;
}
.about{
    padding: 50px;
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin:0 auto;
    .profile{
        flex: 1;
        font-size: 16px;
        color: #666;
        p{
            text-indent: 2em;
        }
        .slide{
            margin-top: 40px;
            border: 4px solid #fff;
        }
        .tag{
            margin-top: 40px;
            span{
                color: #fff;
                border-radius: 3px;
                margin-left: 20px;
                background-color: blueviolet;
            }
        }
    }
    .avatar{
        flex: 1;
        height: 500px;
        img{
            margin: 0 auto;
            display: block;
        }
        p{
            margin: 0 auto;
            margin-left: 26%;
            display: inline-block;
            font-size: 20px;

        }
    }
}
.successful{
    padding: 50px;
    background-color: deepskyblue;
    //display: flex;
    //flex-direction: column;
    width: 80%;
    margin:0 auto;
    color: #fff;
    .header{
        margin:0 auto;
        font-size: 30px;
        div{
            text-align: center;
        }
        p{
            margin: 20px auto;
            width: 80%;
            border: 4px solid #fff;
        }
    }
    //.item{
    //    margin:20px auto;
    //    width: 100%;
    //    .item-wrapper{
    //        display: inline-block;
    //        margin: 0 auto;
    //        div{
    //            float: left;
    //            border-radius: 20px;
    //            margin: 5px;
    //            border: 30px solid #fff;
    //            img{
    //                cursor: pointer;
    //                width: 240px;
    //                height: 160px;
    //            }
    //            img:hover{
    //                border: 1px solid #ccc;
    //                box-sizing: border-box;
    //            }
    //        }
    //    }
    //
    //}
}
.more{
    padding: 50px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:0 auto;
    color: #fff;
    .header{
        div{
            margin:0 auto;
            font-size: 30px;
            .m{
                text-align: center;
            }
            .p{
                width: 50%;
                margin-left: 25%;
                margin-top: 20px;
                border: 4px solid #fff;
            }
        }
        .contact{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            text-align: center;
            .left{
                font-size: 16px;
                p{
                    margin: 10px auto;
                }
            }
            .right{
                margin-top: 10px;
                i{
                    border: 1px solid #ffffff;
                    padding: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                }
                i:hover{
                    border: 1px solid #000;
                }
            }
        }

    }
}
.footer{
    padding: 50px;
    background-color: darkblue;
    width: 80%;
    margin:0 auto;
    color: #fff;
    div{
        text-align: center;
    }
}